MINECRAFT_SERVER_DIR=./integration/minecraft/server
MINECRAFT_HOST=127.0.0.1
MINECRAFT_JAVA_PORT=25565
MINECRAFT_BEDROCK_PORT=19132
MINECRAFT_START_COMMAND=npx tsx ../scripts/manage.ts start
MINECRAFT_STOP_COMMAND=npx tsx ../scripts/manage.ts stop
